/******If not already added in else where include this to default the properties

* {
  padding:0;
  margin:0;
}*/

/*********** Start Main Nav ************/

#main-nav {
  height: 60px;
  box-shadow: 0 0.5vh 2vh #888888;
  line-height: 60px;
  font-weight: 500;
  font-size: 1.3em;
}

#logo-container {
  float: left;
  width: 20vw;
  height:60px;
  text-align:center;
}

#links-container {
  float: left;
  width: 55vw;
  text-align: center;
}

#social-links-container {
  float: left;
  width: 25vw;
  font-size: 1.3em;
  text-align: right;
}

#mobile-button-container {
  display: none;
  float: left;
  width: 60vw;
  font-size: 2em;
  text-align:right;
}

#bars {
  padding-right: 10vw;
}

#main-nav li {
  display: inline;
  padding-right: 1vw;
}
#social-links-container li:last-child {
  padding-right: 3vw;
}

#main-nav a {
  text-decoration: none;
}



/********** Start Mobile Nav ***********/

#mobile-nav {
  width: 100vw;
  min-width:100px;
  display: none;
  font-size: 4vw; 
  margin-top:60px;
}

#mobile-nav a {
  text-decoration: none;
  opacity: 0.99;
}

#mobile-nav li {
  text-align: center;
  padding: 2vh 0 ;
  border-top: solid 1px #ededed;
}

#mobile-links li:last-child {
  border-bottom: solid 1px #ededed;
}

#mobile-social-links {
  text-align: center;
  padding-top: 2vh;
}

#mobile-social-links li {
  display: inline;
  font-size: 5vw;
  padding: 2vh 1vw;
  border: none;
}



/*********** Media Queries ***********/

@media (max-width: 650px) {
  
  #logo-container {
    width: 40vw;
  }

  #links-container {
    display: none;
  }

  #social-links-container {
    display: none;
  }

  #mobile-button-container {
    display: block;
  }
}